@charset "utf-8";



*{margin:0; padding:0; border:0; box-sizing:border-box; font-family:'Nanumsquare', sans-serif;}
li{list-style:none;}
a{text-decoration:none; font-family:'Nanumsquare', sans-serif;}
span{font-family:'Nanumsquare', sans-serif;}


#wrap{
    width:100%;
    min-width:1570px;
    background-color:#f5f5f5;
}
.btn{
	height:28px;
}
.form-control{
	height:28px;
}

#pop_wrap .pop_frame{
	margin:220px auto;
}

/**********************상단 네비네이션**********************/

#wrap .nav_top{
    width:100%;
    height: 100px;
    background-color:#002447;
    position:relative;
	top:0;
}

/*상단 네비게이션 텍스트 스타일*/

#wrap .nav_top a{
	display:block;
	color:rgba(240, 240, 240, 0.8);
	line-height:34px;
	letter-spacing:normal;
}
.nav_top .nav_left{
    width:240px;
    height:100px;
    position:absolute;
    left:0;
}
.nav_top .nav_left .logo{
    width: 200px;
    height: 60px;
    margin:0 auto;
    margin-top:20px;
    background-color: rgba(240, 240, 240, 0.1);
}

.nav_top .nav_right{
    height:100%;
    position:absolute;
    left:240px;
}
.nav_top .nav_right .nav_up{
	width:100%;
	border-bottom:0.5px solid rgba(240, 240, 240, 0.1);
}
.nav_top .nav_right .nav_up ul{
	width:100%;
	height:auto;
	min-width: 1350px;
}
.nav_top .nav_right .nav_up ul li{
	height:50px;
	float:left;	
	position:relative;
}
.nav_top .nav_right .nav_up ul li:after{
	width:1px;
	height:13px;
	content:"";
	background-color:rgba(240, 240, 240, 0.2); 
	position:absolute;
	right:0;
	top:20px ;
}
.nav_top .nav_right .nav_up ul li a{
	font-size:14px;
	height:50px;
}
.nav_top .nav_right .nav_up ul li a.active{
	color:#fff !important;
}
.nav_top .nav_right .nav_up ul li.nav_11{
	margin-left:180px;
}
.nav_top .nav_right .nav_down{
	width:100%;
	height:50px;
}
.nav_top .nav_right .nav_down ul{
	width:100%;
	height:auto;
}
.nav_top .nav_right .nav_down ul li{
	height:50px;
	float:left;
}
.nav_top .nav_right .nav_down ul li a{
	font-size:12.5px;
}
.nav_top .nav_right .nav_down ul li a.active{
	color:#ffcf00 !important;
}

/**********************메인 페이지*********************/

#wrap .wrap_bg{
    width:100%;
    margin:0 auto;
    padding:15px;
	position:relative;
}
#wrap .row{
    width:100%;
    height:auto;
    border:solid 0.5px #e9e9e9;
    background-color: #fff;
}
#wrap .row .side_nav{
	width:200px;
	height:930px;
	border-right:solid 0.5px #e9e9e9;
}
.row .side_nav .nav_tit{
	width:100%;
	height:70px;
	background-color:#002447;
	color:#fff;
	line-height:70px;
	text-align:center;
	font-size:20px;
	font-weight:500;
	letter-spacing:normal;
	margin-bottom:20px;
}
.row .side_nav .nav span{
	padding-left:16px;
	padding-bottom:3px;
	font-size:16px;
	font-weight:600;
}

.row .side_nav .nav:after{
	width:85%;
	height:1px;
	background-color: #eee;
	content:"";
	margin:20px auto;
}

.row .side_nav .nav a{
	color:#555;
	font-size:11.5px;
	letter-spacing: -0.2px;
}
.row .side_nav .nav-link{
	padding: 0.25rem 1rem;
}
.row .side_nav .nav-link.active{
	color:#0067cb;
	font-weight:600;
}	

/*********************메인 부분 시작**********************/

.row .main{
	width: calc(100% - 200px);
	height:auto;
	padding:20px;
}
.row .main .title{
	width:100%;
	padding:20px 0 10px;
	min-width:1300px;
}
.row .main .title span{
	font-size:22px;
	font-weight:900;
}

.row .main .title  .dividers{
	float:right;
}

.row .main .title .dividers .breadcrumb{
	float:right;
}
.row .main .title .dividers .breadcrumb-item.active{
	color:#0067cb;
	font-size:15px;
}
.row .main .title .dividers .breadcrumb-item.active span{
	font-size:13px;
	font-weight:600;
	vertical-align: -0.5px;
}
.main .title .dividers .breadcrumb a{
	color:#555;
	text-decoration:none;
	font-size:12px;
}

.check_option{
	width:100%;
	padding:15px;
	border: 2px solid #ddd;
	font-size:13px;
	min-width:1300px;
}
.check_option .btn{
	font-size:12px !important;
	border-radius: 0;
}
.check_option .date{
	padding-bottom:10px;
}
.check_option .date .btn-group{
	padding-left:25px;
}
.check_option .date .btn-outline-secondary:hover {
	color: #fff;
  }

.check_option .date .btn-outline-secondary{
		border-color:#ccc;
		color:#666;
} 

/******************* table 시작 ********************/

.content .cnt_btn{
	display:inline-block;
	float:right;
}

.row .content .content_load{
	width:100%;
	height:auto;
	border-top:2px solid #333;
	margin-top:10px;
	font-family:'nanumsquare', sans-serif;
	/*text-align:center;*/
}
.row .content .content_load .table{
	font-size:12.5px;
}
.row .content .content_load .table thead{
	border-bottom:1px solid #333 !important;
}

.row .content .content_load .table thead th{
	font-weight:600;
}



/***********************검색 영역 시작************************/

.search .dropdown{
	display:inline-block;
	padding-left:48px;
}
.search .dropdown .dropdown-menu{
	min-width:8.6rem;
}
.search .dropdown-toggle:after{
	margin-left: 4rem;
}
.search .dropdown .btn{
	height:32px;
	vertical-align: middle;
}
.search .dropdown-item{
	padding: 0.25rem 0.6rem !important;
}
.search .navbar{
	display:inline-block;
	padding:0;
	vertical-align: middle;
	margin-left:2px;

}

svg.bi.bi-search{
	width:12px;
	transform:translate(2px, -1.5px);
	
}

/************************* content 시작 **************************/

.row .content{
	width: 100%;
	height:auto;
	margin-top:50px;
	min-width:1300px;
}
.row .content .cnt_2{
	margin-top:10px;
}
.row .content .dropdown .dropdown-toggle:after{
	margin-left:15px;
}
.row .content .dropdown .dropdown-menu{
	width:60px;
}
.row .content .dropdown .dropdown-menu a{
	padding:4px 0 5px 9px;
}
.row .content .dropdown span{
	font-size:12px;
	padding-left:3px;
}

.row .content .content_blank{
	width:100%;
	height:auto;
	min-width:1300px;
	border-bottom:solid 2px #ddd;
}
.row .content .content_blank span{
	font-size:12px;
	text-align:center;
	display:block;
	color:#555;
	padding:80px 0;
}

/********************* footer **********************/
#wrap .footer{
    width:100%;
    height:45px;
	padding-top:15px;
}

#wrap .footer .footer_text{
	display:block;
	width:384px;
	margin:0 auto;
}
#wrap .footer .footer_text span{
	font-size:12px;
}
#wrap .footer .footer_text span.footer_color{
	color:#0067cb;
}


/***********************************************************************/
/*******************************팝업_주소검색*******************************/
/***********************************************************************/


#pop_wrap .pop_frame.pop_address_search{
	width:550px;
	height:auto;
}

.pop_top{
	width:100%;
	height:50px;
	background-color:#0067cb;
	padding:12px 12px 12px 20px;
	color:#fff;
}
.pop_top .pop_logo{
	display:inline-block;
	width:71px;
	height:27px;
	background-color:rgba(240, 240, 240, 0.2);
	float:right;
}

.pop_content{
	width:100%;
	height:auto;
	padding:20px 25px 0;
	border:1px solid #ccc;
	border-top:0;
}
.pop_content .pop_search {
	width:500px;
}
.pop_content .pop_search .navbar .form-control{
	width:415px;
}
.pop_content .btn_cancel{
	width:500px;
	height:auto;
}
.pop_content .btn_cancel{
	display:block;
	width:70px;
	height:auto;
	border:1px solid #ced4da;
}
.pop_content .pop_notice{
	width:500px;
	height:auto;
	border:2px solid #ced4da;
	margin-top:13px;
	padding:15px 20px 10px;
}
.pop_notice h5{
	font-size:13px;
}
.pop_notice p{
	font-size:11.5px;
	display:block;
	margin-bottom:3px;
	margin-left:2px;
	color:#555;
}
.pop_notice p span{
	color:#0067cb;
}

/*****************************************************************************/
/******************************* 팝업 _ 배송지 변경 ******************************/
/*****************************************************************************/

#pop_wrap .pop_address_change{
	width:715px;
	height:400px;
}
.pop_content .pop_list{
	border-top:2px solid #000;
	font-size:13px;	
}
.pop_content .list-group{
	border-radius: 0;
}
.pop_content .list-group-horizontal > .list-group-item:last-child{
	border-radius: 0;
}
.pop_content  .list-group-horizontal > .list-group-item:first-child{
	border-radius: 0;
}
.pop_content .list_title{
	width:120px;
	padding:10px 12px;
	background-color:#f5f5f5;
	border-right:1px solid rgba(0, 0, 0, 0.125);
}
.pop_content .list-group .form-select{
	border-radius: 0;
	flex:0;
	width:85px;
	min-width:85px;
	font-size:12px;
}
.pop_content .list-group .form-control{
	border-radius: 0;
	width:90px;
	font-size:12px;
}
.pop_content .list-group .col-sm{
	flex:0;
	display:inline-block;
}
.pop_content .list-group .col_name .form-control{
	width:230px;
	display:inline-block;
	padding:0.25rem 0.6rem;
}
.list-group-item {
	border-left:0 !important;
	width:calc(100% - 120px);
}
/*
.list-group-horizontal > .list-group-item + .list-group-item p{
	display:inline-block;
	font-size:12px;
}
*/
.list-group-horizontal > .list-group-item + .list-group-item span.ipt{
	margin-left:10px;
	font-size:11.5px;
	color:#555;
}
.pop_content .btn{
	display:inline-block;
}
.pop_content .btn_cover{
	text-align:center;
	margin:20px auto;
}
.pop_content .btn_save{
	width:70px;
	height:auto;
}
.hyphen{
	width:6px;
	height:1px;
	background-color: #333;
	margin-top:17px;
	margin-right:7px;
	margin-left:7px;
}
/*
.col_code{
	margin-left:27px;
}
.col_address1 .form-control{
	width:395px !important;
	margin-left:10px;
}
.col_address2 .form-control{
	width:395px !important;
	margin-left:24px;
}
*/

/********************* 주소 영역 **********************/
.address_total{
	width:100%;
	height:33px;
}
.address_total p{
	width:90px;
	display:inline-block;
}
.address_third input.form-control{
	width:390px !important;
}
.address_second input.form-control{
	width:390px !important;
}


/*************************************************************************/
/******************************* 팝업_도서검색 ******************************/
/*************************************************************************/


#pop_wrap .pop_frame.pop_book_search{
	width:800px;
	height:auto;
}
#pop_wrap .pop_frame.pop_book_search .pop_content .pop_search{
	width:100%;
}

#pop_wrap .pop_frame.pop_book_search .check_option{
	min-width:0;
	width:100%;
}



/*************************************************************************/
/****************************** 팝업_배송지 변경 *****************************/
/*************************************************************************/


#pop_wrap .pop_frame.pop_member_info{
	width:700px;
	height:auto;
}

#pop_wrap .pop_frame.pop_member_info .pop_content .list_title{
	width:280px;
}
#pop_wrap .pop_frame.pop_member_info .pop_content .list_title.list_title_solo{
	width:115px;
}
.pop_list .list-group .list_title.list_title_solo .list-group-item p{
	display:block;
}
.pop_list_title{
	width:100%;
	height:35px;
	margin-top:20px;
	display:inline-block;
}
.pop_list_title:first-child{
	margin-top:0;
}
.pop_list_title span{	
	font-size:15px;
	font-weight:700;
}
.pop_btn_top{
	float:right;
}

